body{
	margin: 0;
}
header{
	background: rgba(141, 141, 250, 0.40);
	background-size: 200px;
	width: 100%;
}
.content{
	width: 960px;
	margin: auto;
	height: 100px;
}
.logo{
	float: left;
	border-radius: 50%;
}
.name{
	background-size: 200px;
	background-color: #b6bbbf;
	text-align: center;
	height: inherit;
	display: flex;
	align-items: center;
	justify-content: center;
}

#navbar li:hover ul { display: block; }
#navbar, #navbar ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
#navbar {
	display: flex;
    max-width: 960px;
    margin: auto;
    height: 30px;
    background-color: #666;
    padding-left: 25px;
    min-width: 470px;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: nowrap;
}
#navbar li {
  float: left;
  position: relative;
  height: 100%;
}
#navbar li a {
  display: block;
  padding: 6px;
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
#navbar ul li { float: none; }
#navbar li:hover { background-color: #f900; }
#navbar ul li:hover { background-color: #500; }
table {
	width: 70%;
	border-collapse: collapse;
}
td, th {
	border: 1px solid #98bf21;
	padding: 3px 7px 2px 7px;
}

.alt td { background-color: #EAF2D3; }
footer{
	text-align: center;
	background-color: #EAF2D3;
}

.main-content {
	text-align: left !important;
	width: 960px;
	margin: auto;
}
nav{
	margin: auto;
}
